doctype html
html
  head
    title Hello World!
    script(src='javascripts/test.js')
  body
    h1 Hello World!
    |     We are using io.js 
    script.
      document.write(process.version)
    |     and Electron 
    script.
      document.write(process.versions['electron'])
    | .
