doctype html
html
  head
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet' href='stylesheets/style.css')
    link(rel='stylesheet' href='stylesheets/react-toggle.css')
    title Rbkit
    script(src='javascripts/components/routes.js')
  body
